/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css?family=Roboto|Sintony');
/* Default CCS rule is mobile first so no rule block needed,
further designs are defined below for desktop expansion */
*, *:before, *:after {
  outline: none;
  box-sizing: border-box;
  box-shadow: none;
}
html,body{
  height: 100%;
  width: 100%;
  margin: 0%;
  overflow-y: visible;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}
body{
}
.mobile-wrapper{
  position: absolute;
  height: 100%;
  width: 100%;
}
.mobile-wrapper .mobile-top-color-bar{
  position: relative;
  z-index: auto;
  height: 10px;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: desktoppreloaderbackground 5s ease infinite;
}
.mobile-wrapper .mobile-hero-section{
  position: relative;
  margin: 0;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile-wrapper .mobile-hero-section .mobile-back-prompt{
  position: absolute;
  display: initial;
  margin: 0;
  left: 50%;
  top: 5%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-wrapper .mobile-hero-section .mobile-back-prompt img{
  transform: rotate(180deg);
}
.mobile-wrapper .mobile-hero-section .mobile-hero-text{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  z-index: 1;
  font-size: 18vw;
  letter-spacing: -2px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
  font-weight: 800;
}

.mobile-wrapper .mobile-hero-section .mobile-scroll-prompt{
  position: absolute;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-wrapper .mobile-hero-section .mobile-scroll-prompt img{
  cursor: pointer;
  animation: pulseicon 2s infinite;
}
.mobile-wrapper .mobile-hero-section .mobile-hero-text{
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
.mobile-wrapper .mobile-hero-section .mobile-hero-text h1 {
  top: 50%;
  left: 50%;
  display: block;
  font-weight: 100;
  font-size: 15vw;
  text-shadow: 1px 4px 1px rgba(0, 0, 0, .6);
}
.mobile-wrapper .mobile-hero-section .mobile-hero-text p{
  letter-spacing: 5px;
  font-size: 15px;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  color: #929292;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
}
.mobile-wrapper .mobile-hero-section #mobile-top-button{
  text-align: center;
  height: 31px;
  width: 31px;
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
  z-index: 1;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  animation: fadeInRight 1.5s ,desktopgradient 5s infinite;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 200% 200%;
}
.mobile-wrapper .mobile-hero-section #mobile-top-button img{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  width: auto;
}
.mobile-section-one{
  margin:0;
  z-index: 0;
  height: 100%;
  background-image: url("../images/gslogo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile-section-one .card{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-section-one .card p{
  margin: 0;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  font-size: 3vw;
  font-size: 3vh;
  word-wrap: break-word;
  color: white;
  letter-spacing: 2px;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.mobile-section-two{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/gs2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile-section-two .card2{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-section-two .card2 p{
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  font-size: 3vw;
  font-size: 3vh;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.mobile-section-three{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/gs1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile-section-three .card3{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-section-three .card3 p{
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  font-size: 3vw;
  font-size: 3vh;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.mobile-section-four{
  margin:0;
  z-index: 0;
  height: 100%;
  max-width: 100%;
  background-image: url("../images/muslera.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.mobile-section-four .card4{
  position: absolute;
  margin: 0;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.mobile-section-four .card4 p{
  margin: 0;
  letter-spacing: 2px;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  font-size: 3vw;
  font-size: 3vh;
  word-wrap: break-word;
  color: white;
  text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
}
.mobile-social-container{
  max-width: 100%;
  top:10%;
  text-align: center;
  position: relative;
}
.title{
  color: white;
  font-size: 18px;
}
.card img{
  width: auto;
  border-radius: 50%;
}
.mobile-only-footer{
  width: 100%;
  height: 3%;
  background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
  background-size: 400% 400%;
  animation: desktopgradient 5s ease infinite;
  text-align: center;
  color: white;
  font-family: 'Sintony', sans-serif !important;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
  letter-spacing: 2.5px;
}
.mobile-only-footer p{
  margin: 0;
}
.mobile-only-footer p a{
  text-decoration: none;
  color: white;
}
.twitter-follow-button{
  position: absolute;
  display: initial;
}
/* Hiding desktop specific class starts here*/
.desktop-wrapper{
  display: none;
}
/*  (Expansion) Rule block for minimum screen sizes greater than 800px (Desktop)
the following defined rule and styles will kick in*/
@media (min-width: 768px){
  *, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
  }
  html, body {
    height: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
  }
  .desktop-wrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    display: initial;
  }
  .desktop-wrapper ul{
    line-height: 30px;
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
  }
  .desktop-wrapper h2{
    line-height: 30px;
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
    text-decoration: underline;
  }
  .desktop-hero-section{
    position: relative;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .desktop-top-color-bar{
    position: relative;
    z-index: auto;
    height: 10px;
    background: linear-gradient(45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    animation: desktoppreloaderbackground 5s ease infinite;
  }
  .desktop-hero-text{
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    min-width: 100%;
    transform: translate(-50%, -50%);
  }
  .desktop-hero-text h1{
    top: 50%;
    left: 50%;
    display: block;
    font-weight: 100;
    font-size: 15vw;
    text-shadow: 1px 4px 1px rgba(0, 0, 0, .6);
  }
  .desktop-hero-text p{
    letter-spacing: 5px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    color: #929292;
  }
  .desktop-scroll-prompt{
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .desktop-scroll-prompt img{
    cursor: pointer;
    animation: pulseicon 2s infinite;
  }
  .desktop-section-one{
    background-image: url("../images/gslogo.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .desktop-section-one .desktop-speach-one{
    position: absolute;
    left: 20px;
    right: 20px;
    color: black;
    font-weight: bold;
    border: 1px dashed white;
    background: #fff;
    box-shadow: -5px 3px 3px black;
    text-align: left;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    padding: 60px;
    margin: 150px auto;
  }
  .desktop-section-one .desktop-speach-one:before {
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: white transparent transparent white;
    box-shadow: -5px 0px 0px 0px black;
    bottom: -46px;
    left: 20px;
  }
  .desktop-speach-one p {
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
  }
  .desktop-speach-one p img{
    float: right;
  }
  .desktop-image-talking{
    position: relative;
    top: 83%;
    left: 8%;
    text-align: left;
  }
  .desktop-image-talking img{
    box-shadow: -1px 1px 0px 0px black;
    border-radius: 50%;
  }
  .desktop-section-two{
    background-image: url("../images/gs2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .desktop-section-two .desktop-speach-two{
    position: absolute;
    left: 20px;
    right: 20px;
    color: black;
    font-weight: bold;
    border: 1px dashed white;
    background: #fff;
    box-shadow: 5px 3px 3px black;
    text-align: left;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    padding: 60px;
    margin: 150px auto;
  }
  .desktop-section-two .desktop-speach-two:before{
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: white white transparent transparent;
    box-shadow: 5px 0px 0px 0px black;
    bottom: -46px;
    right: 20px;
  }
  .desktop-section-two .desktop-speach-two p{
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
  }

  .desktop-section-two .desktop-image-talking-2 {
    position: relative;
    top: 83%;
    right: 8%;
    text-align: right;
  }
  .desktop-section-two .desktop-image-talking-2 img{
    box-shadow: -1px 1px 0px 0px black;
    border-radius: 50%;
  }
  .desktop-section-three{
    background-image: url("../images/gs1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .desktop-section-three .desktop-speach-three{
    position: absolute;
    left: 20px;
    right: 20px;
    color: black;
    font-weight: bold;
    border: 1px dashed white;
    background: #fff;
    box-shadow: 5px 3px 3px black;
    text-align: left;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    padding: 60px;
    margin: 150px auto;
  }
  .desktop-section-three .desktop-speach-three:before{
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: transparent white white transparent;
    box-shadow: 5px 0px 0px 0px black;
    top: -46px;
    right:20px;
  }
  .desktop-section-three .desktop-speach-three p{
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
  }
  .desktop-section-four{
    background-image: url("../images/muslera.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  .desktop-section-four .desktop-speach-four{
    position: absolute;
    left: 20px;
    right: 20px;
    color: black;
    font-weight: bold;
    border: 1px dashed white;
    background: #fff;
    box-shadow: -5px 3px 3px black;
    text-align: left;
    width: 80%;
    height: 60%;
    border-radius: 40px;
    padding: 60px;
    margin: 150px auto;
  }
  .desktop-section-four .desktop-speach-four:before{
    position: absolute;
    content: "";
    border: 25px solid;
    border-color: transparent transparent white white;
    box-shadow: -5px 0px 0px 0px black;
    top: -46px;
    left: 20px;
  }
  .desktop-section-four .desktop-speach-four p{
    letter-spacing: 2px;
    font-family: 'Sintony', sans-serif !important;
    text-transform: uppercase;
    font-size: 2vw;
    font-size: 2vh;
    word-wrap: break-word;
  }
  /* Hiding mobile class starts here*/
  .mobile-wrapper{
    display: none;
  }
}
